<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syc.service.mapper.MoArticleMapper">
  <resultMap id="BaseResultMap" type="com.syc.model.entity.MoArticle">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_id" jdbcType="INTEGER" property="account_id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="context_type" jdbcType="INTEGER" property="context_type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="click_count" jdbcType="INTEGER" property="click_count" />
    <result column="is_delete" jdbcType="INTEGER" property="is_delete" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="category_id" jdbcType="INTEGER" property="category_id" />
    <result column="create_at" jdbcType="TIMESTAMP" property="create_at" />
    <result column="update_at" jdbcType="TIMESTAMP" property="update_at" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, account_id, title, context_type, content, click_count, is_delete, `status`, category_id, 
    create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from mo_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from mo_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.syc.model.entity.MoArticle" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mo_article (account_id, title, context_type, 
      content, click_count, is_delete, 
      `status`, category_id, create_at, 
      update_at)
    values (#{account_id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{context_type,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{click_count,jdbcType=INTEGER}, #{is_delete,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{category_id,jdbcType=INTEGER}, #{create_at,jdbcType=TIMESTAMP}, 
      #{update_at,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.syc.model.entity.MoArticle" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mo_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="account_id != null">
        account_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="context_type != null">
        context_type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="click_count != null">
        click_count,
      </if>
      <if test="is_delete != null">
        is_delete,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="category_id != null">
        category_id,
      </if>
      <if test="create_at != null">
        create_at,
      </if>
      <if test="update_at != null">
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="account_id != null">
        #{account_id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="context_type != null">
        #{context_type,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="click_count != null">
        #{click_count,jdbcType=INTEGER},
      </if>
      <if test="is_delete != null">
        #{is_delete,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="category_id != null">
        #{category_id,jdbcType=INTEGER},
      </if>
      <if test="create_at != null">
        #{create_at,jdbcType=TIMESTAMP},
      </if>
      <if test="update_at != null">
        #{update_at,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.syc.model.entity.MoArticle">
    <!--@mbg.generated-->
    update mo_article
    <set>
      <if test="account_id != null">
        account_id = #{account_id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="context_type != null">
        context_type = #{context_type,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="click_count != null">
        click_count = #{click_count,jdbcType=INTEGER},
      </if>
      <if test="is_delete != null">
        is_delete = #{is_delete,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="category_id != null">
        category_id = #{category_id,jdbcType=INTEGER},
      </if>
      <if test="create_at != null">
        create_at = #{create_at,jdbcType=TIMESTAMP},
      </if>
      <if test="update_at != null">
        update_at = #{update_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.syc.model.entity.MoArticle">
    <!--@mbg.generated-->
    update mo_article
    set account_id = #{account_id,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      context_type = #{context_type,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      click_count = #{click_count,jdbcType=INTEGER},
      is_delete = #{is_delete,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      category_id = #{category_id,jdbcType=INTEGER},
      create_at = #{create_at,jdbcType=TIMESTAMP},
      update_at = #{update_at,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>