<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syc.service.mapper.MoOrdersMapper">
  <resultMap id="BaseResultMap" type="com.syc.model.entity.MoOrders">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="scene" jdbcType="VARCHAR" property="scene" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="refund_status" jdbcType="INTEGER" property="refundStatus" />
    <result column="created" jdbcType="INTEGER" property="created" />
    <result column="pay_time" jdbcType="INTEGER" property="payTime" />
    <result column="send_time" jdbcType="INTEGER" property="sendTime" />
    <result column="cancel_time" jdbcType="INTEGER" property="cancelTime" />
    <result column="delete_time" jdbcType="INTEGER" property="deleteTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, account_id, goods_id, scene, order_sn, pay_status, `status`, refund_status, created, 
    pay_time, send_time, cancel_time, delete_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from mo_orders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from mo_orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.syc.model.entity.MoOrders" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mo_orders (account_id, goods_id, scene, 
      order_sn, pay_status, `status`, 
      refund_status, created, pay_time, 
      send_time, cancel_time, delete_time
      )
    values (#{accountId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{scene,jdbcType=VARCHAR}, 
      #{orderSn,jdbcType=VARCHAR}, #{payStatus,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{refundStatus,jdbcType=INTEGER}, #{created,jdbcType=INTEGER}, #{payTime,jdbcType=INTEGER}, 
      #{sendTime,jdbcType=INTEGER}, #{cancelTime,jdbcType=INTEGER}, #{deleteTime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.syc.model.entity.MoOrders" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mo_orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        account_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="scene != null">
        scene,
      </if>
      <if test="orderSn != null">
        order_sn,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="refundStatus != null">
        refund_status,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="cancelTime != null">
        cancel_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="scene != null">
        #{scene,jdbcType=VARCHAR},
      </if>
      <if test="orderSn != null">
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="refundStatus != null">
        #{refundStatus,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        #{created,jdbcType=INTEGER},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=INTEGER},
      </if>
      <if test="cancelTime != null">
        #{cancelTime,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.syc.model.entity.MoOrders">
    <!--@mbg.generated-->
    update mo_orders
    <set>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="scene != null">
        scene = #{scene,jdbcType=VARCHAR},
      </if>
      <if test="orderSn != null">
        order_sn = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="refundStatus != null">
        refund_status = #{refundStatus,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=INTEGER},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=INTEGER},
      </if>
      <if test="cancelTime != null">
        cancel_time = #{cancelTime,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.syc.model.entity.MoOrders">
    <!--@mbg.generated-->
    update mo_orders
    set account_id = #{accountId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      scene = #{scene,jdbcType=VARCHAR},
      order_sn = #{orderSn,jdbcType=VARCHAR},
      pay_status = #{payStatus,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      refund_status = #{refundStatus,jdbcType=INTEGER},
      created = #{created,jdbcType=INTEGER},
      pay_time = #{payTime,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=INTEGER},
      cancel_time = #{cancelTime,jdbcType=INTEGER},
      delete_time = #{deleteTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>