<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syc.service.mapper.MoSysPermissionMapper">
  <resultMap id="BaseResultMap" type="com.syc.model.entity.MoSysPermission">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="action_key" jdbcType="VARCHAR" property="actionKey" />
    <result column="controller" jdbcType="VARCHAR" property="controller" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, action_key, controller, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from mo_sys_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from mo_sys_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.syc.model.entity.MoSysPermission" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mo_sys_permission (action_key, controller, remark
      )
    values (#{actionKey,jdbcType=VARCHAR}, #{controller,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.syc.model.entity.MoSysPermission" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mo_sys_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="actionKey != null">
        action_key,
      </if>
      <if test="controller != null">
        controller,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="actionKey != null">
        #{actionKey,jdbcType=VARCHAR},
      </if>
      <if test="controller != null">
        #{controller,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.syc.model.entity.MoSysPermission">
    <!--@mbg.generated-->
    update mo_sys_permission
    <set>
      <if test="actionKey != null">
        action_key = #{actionKey,jdbcType=VARCHAR},
      </if>
      <if test="controller != null">
        controller = #{controller,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.syc.model.entity.MoSysPermission">
    <!--@mbg.generated-->
    update mo_sys_permission
    set action_key = #{actionKey,jdbcType=VARCHAR},
      controller = #{controller,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>