@import './base.css';

#app {
  min-height: 100vh;
  width: 100%;
  --tw-bg-opacity: 1;
  margin: 0 auto;
  font-weight: normal;
  background-color: rgb(var(--color-gray-50) / var(--tw-bg-opacity));
}


@media (min-width: 1024px) {
  
}
